POLY15_ENV=dev
POLY15_EXEC_DRY_RUN=1
POLY15_PM_CHAIN_ID=137
POLY15_PM_SIGNATURE_TYPE=2
POLY15_PM_FUNDER=
POLY15_PM_API_KEY=
POLY15_PM_API_SECRET=
POLY15_PM_PASSPHRASE=
POLY15_PM_ENCRYPTED_PRIVATE_KEY=
POLY15_PM_MARKET_ENABLED=0
POLY15_PM_USER_ENABLED=0
POLY15_BINANCE_ENABLED=0
POLY15_BINANCE_DEPTH_ENABLED=1
POLY15_CHAINLINK_ENABLED=0
POLY15_CHAINLINK_API_URL=https://data.chain.link/api/query-timescale
POLY15_CHAINLINK_QUERY_NAME=LIVE_STREAM_REPORTS_QUERY
POLY15_CHAINLINK_FEED_ID=0x00039d9e45394f473ab1f050a1b963e6b05351e52d71e507509ada0c95ed75b8
POLY15_CHAINLINK_PRICE_SCALE=1e18
POLY15_CHAINLINK_POLL_MS=10000
POLY15_CHAINLINK_STALE_AFTER_MS=20000
POLY15_CHAINLINK_SILENT_RECONNECT_MS=45000
POLY15_BINANCE_IDLE_TIMEOUT_MS=5000
POLY15_FAIR_VALUE_MODE=hybrid
POLY15_MIN_PROBABILITY=0.0010
POLY15_FULL_SET_BUFFER=0.0040
POLY15_VOL_HALF_LIFE_MS=15000
POLY15_VOL_MAX_AGE_MS=1800000
POLY15_VOL_STALE_AFTER_MS=2000
POLY15_VOL_MIN_SIGMA=0.00005
POLY15_VOL_MAX_SIGMA=0.00500
POLY15_PM_GAMMA_BASE_URL=https://gamma-api.polymarket.com
POLY15_PM_DISCOVERY_ENABLED=1
POLY15_PM_DISCOVERY_INTERVAL_MS=30000
POLY15_PM_DISCOVERY_MAX_MARKETS=2
POLY15_PM_DISCOVERY_TAG_SLUG=bitcoin
POLY15_PM_DISCOVERY_KEYWORDS=btc,bitcoin
POLY15_PM_DISCOVERY_EXCLUDE_KEYWORDS=weekly,daily,election,approval
POLY15_SYNC_API_TOKEN=
POLY15_PM_MARKET_CUSTOM_FEATURES_ENABLED=1
POLY15_PM_MARKET_IDLE_TIMEOUT_MS=40000
POLY15_PM_MARKET_ASSET_IDS=
POLY15_PM_USER_IDLE_TIMEOUT_MS=0
POLY15_PM_USER_MARKET_IDS=
POLY15_RECORDER_ENABLED=1
POLY15_RECORDER_OUTPUT_DIR=runtime_data/records
POLY15_RECORDER_FLUSH_INTERVAL_MS=1000
POLY15_RECORDER_FLUSH_BATCH_SIZE=1000
POLY15_RECORDER_ROTATE_INTERVAL_MS=300000
POLY15_RECORDER_ROTATE_MAX_FILE_SIZE_BYTES=16777216
POLY15_DB_ENABLED=0
POLY15_DB_PATH=runtime_data/events.sqlite3
POLY15_DB_FLUSH_INTERVAL_MS=1000
POLY15_DB_FLUSH_BATCH_SIZE=1000
POLY15_PROXY_ENABLED=0
POLY15_PROXY_URL=http://127.0.0.1:7890
POLY15_PROXY_NO_PROXY=127.0.0.1,localhost
